<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" type="icon/ico" th:href="@{/assets/favicon.ico}"/>
</head>
<body style="background-color: #e1f2ea">
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #178f13">
    <div class="container-fluid ms-3 me-3">
        <a class="navbar-brand">
            <img src="/assets/bus-icon.png" alt="" width="32" height="32" class="d-inline-block align-text-top"
                 th:src="@{/assets/bus-icon.png}">
            Bus Booking System
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#" th:href="@{/}">Home</a>
            </div>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 justify-content-end">
            <div class="navbar-nav">
                <a class="nav-link active" href="#" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="card border border-success">
                <div class="card-header text-center">
                    <h5 class="card-title">User Personal Information</h5>
                </div>
                <div class="card-body">
                    <table class="table table-success table-striped table-hover table-bordered border-success">
                        <tbody>
                        <tr>
                            <th scope="row">First Name</th>
                            <td><span th:text="${#authentication.getPrincipal().getFirstName()}"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Last Name</th>
                            <td><span th:text="${#authentication.getPrincipal().getLastName()}"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td><span th:text="${#authentication.getPrincipal().getEmail()}"></span></td>
                        </tr>
                        <!--tr>
                            <th scope="row">Password</th>
                            <td><span th:text="${user.password}"></span></td>
                        </tr-->
                        </tbody>
                    </table>
                    <!--div class="text-center">
                        <button type="button" class="btn btn-primary btn-sm">Change Personal Info</button>
                    </div-->
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border border-success mb-4">
                <div class="card-header text-center">
                    <h5 class="card-title">Tickets</h5>
                </div>
                <div class="card-body">
                    <div class="text-center" th:if="${param.success}">
                        <div class="alert alert-info text-center">Chosen ticket was sent to your email.</div>
                    </div>
                    <div class="text-center" th:if="${param.return}">
                        <div class="alert alert-info text-center">Ticket was returned.</div>
                    </div>
                    <div class="text-center" th:if="${param.delete}">
                        <div class="alert alert-info text-center">Ticket was deleted.</div>
                    </div>
                    <div class="text-center">
                        <a type="button" class="btn btn-info"
                           th:href="@{/account/tickets}">Get User Tickets</a>
                    </div>
                    <div th:each="ticket :${tickets}">
                        <div class="card border border-info mt-3">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <h6 class="card-subtitle mb-2 text-muted"><b>Bus:</b> <span
                                                th:text="${ticket.getBusName()}"></span></h6>
                                        <div class="col-7 align-self-center">
                                            <p class="card-text">
                                                Departs from:
                                                <b>
                                                    <span th:text="${ticket.getBusDepartureCity()}"></span>
                                                    , <span
                                                        th:text="${#temporals.format(ticket.getBusDepartureTime(), 'd MMM HH:mm', #locale.forLanguageTag('EN'))}"></span>
                                                </b>
                                            </p>
                                            <p class="card-text">
                                                Arrives to:
                                                <b>
                                                    <span th:text="${ticket.getBusArrivalCity()}"></span>
                                                    , <span
                                                        th:text="${#temporals.format(ticket.getBusArrivalTime(), 'd MMM HH:mm', #locale.forLanguageTag('EN'))}"></span>
                                                </b>
                                            </p>
                                            <p class="card-text">
                                                Ticket Status:
                                                <b>
                                                    <span th:text="${ticket.getStatus()}"></span>
                                                </b>
                                            </p>
                                            <p class="card-text">
                                            <div class="row border-top">
                                                <div class="col">
                                                    Seat:
                                                    <b>
                                                        <span th:text="${ticket.getSeat()}"></span>
                                                    </b>
                                                </div>
                                                <div class="col">
                                                    Price:
                                                    <b>
                                                        <span th:text="${ticket.getPrice()}"></span> UAN
                                                    </b>
                                                </div>
                                            </div>
                                            </p>
                                        </div>
                                        <div class="col align-self-center border-start">
                                            <div class="row">
                                                <p class="text-start">Passenger:</p>
                                                <p class="text-end">
                                                    <b>
                                                        <span th:text="${ticket.getUserFirstName() + ' ' + ticket.getUserLastName()}"></span>
                                                    </b>
                                                </p>
                                            </div>
                                            <div class="row border-top">
                                                <p class="text-start">Email:</p>
                                                <p class="text-end">
                                                    <b>
                                                        <span th:text="${ticket.getUserEmail()}"></span>
                                                    </b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <th:block
                                            th:if="${ticket.getStatus() == T(com.booking.system.model.TicketStatus).ACTIVE}">
                                        <a type="button" class="btn btn-outline-warning btn-sm me-md-3"
                                           th:href="@{/account/ticket/return/{id}(id=${ticket.getId()})}">
                                            Return Ticket</a>
                                    </th:block>
                                    <th:block
                                            th:unless="${ticket.getStatus() == T(com.booking.system.model.TicketStatus).ACTIVE}">
                                        <a type="button" class="btn btn-outline-danger btn-sm me-md-3"
                                           th:href="@{/account/tickets/delete/{busName}/{seat}(busName=${ticket.getBusName()}, seat=${ticket.getSeat()})}">
                                            Delete Ticket</a>
                                    </th:block>
                                    <a type="button" class="btn btn-outline-secondary btn-sm me-md-3"
                                       th:href="@{/account/ticket/{id}(id=${ticket.getId()})}">
                                        Send Ticket To Email</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>