<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Ticket Preorder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" type="icon/ico" th:href="@{/assets/favicon.ico}"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color: #e1f2ea">
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #178f13">
    <div class="container-fluid ms-3 me-3">
        <a class="navbar-brand">
            <img src="/assets/bus-icon.png" alt="" width="32" height="32" class="d-inline-block align-text-top"
                 th:src="@{/assets/bus-icon.png}">
            Bus Booking System
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#" th:href="@{/}">Home</a>
            </div>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 justify-content-end">
            <div class="navbar-nav">
                <div sec:authorize="!isAuthenticated()">
                    <a class="nav-link active" href="#" th:href="@{/sign-up}">Sign Up</a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a class="nav-link active" href="#" th:href="@{/sign-in}">Sign In</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a class="nav-link active" href="#" th:href="@{/account}">Account</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a class="nav-link active" href="#" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
        </div>

        <div class="col-8 align-self-center">
            <div th:each="bus :${currentBus}">
                <div class="card border border-success mt-4">
                    <div class="card-header">
                        Bus -> <span class="text-muted">Passenger</span> -> <span class="text-muted">Payment</span>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col border-end align-self-center">
                                <p>Bus: <span th:text="${bus.getName()}"></span><br>
                                    <span th:text="${bus.getAvailableSeats().size()}"></span> seats left <br>
                                    <span th:text="${bus.getTicketPrice()}"></span> UAN
                                </p>
                            </div>
                            <div class="col align-self-center">
                                <button class="btn btn-outline-info" type="button" id="collapse-button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseText" aria-expanded="false"
                                        aria-controls="collapseText" th:onclick="change()">
                                    Show Additional Info
                                </button>
                            </div>
                        </div>
                        <div class="collapse" id="collapseText">
                            <div class="card text-center border border-success mt-3">
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col align-self-center">
                                                <h6 class="card-title"><span
                                                        th:text="${#temporals.format(bus.getDepartureTime(), 'd MMM HH:mm', #locale.forLanguageTag('EN'))}"></span>
                                                </h6>
                                                <h5 class="card-text">Departs from: <span
                                                        th:text="${bus.getDepartureCity()}"></span></h5>
                                            </div>
                                            <div class="col align-self-center">
                                                <h6 class="card-title"><span
                                                        th:text="${#temporals.format(bus.getArrivalTime(), 'd MMM HH:mm', #locale.forLanguageTag('EN'))}"></span>
                                                </h6>
                                                <h5 class="card-text">Arrives to: <span
                                                        th:text="${bus.getArrivalCity()}"></span></h5>
                                            </div>
                                            <div class="col align-self-center">
                                                <div class="row">
                                                    <div class="col align-self-center">
                                                        <p><span
                                                                th:text="${#temporals.format(bus.getTravelTime(), 'HH:mm')}"></span>
                                                            on the road
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a type="button" class="btn btn-danger mt-3" th:href="@{/checkout/{name}(name=${bus.getName()})}">Continue</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
        </div>
    </div>
</div>

<script>
    function change() {
        const initialText = 'Show Additional Info';
        const btn = document.getElementById('collapse-button');

        if (btn.textContent.toLowerCase().includes(initialText.toLowerCase())) {
            btn.textContent = 'Hide Additional Info';
        } else {
            btn.textContent = initialText;
        }
    }
</script>
</body>
</html>